<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo" class="navbar-brand"><%= link_to "ECAT Sample Site", root_path %></div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">

    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'New Sample', new_sample_path %></li>
        <li><%= link_to 'All Samples', samples_path %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" <%= link_to 'Account', edit_user_registration_path %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></a>
        </div>
        </li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'All Samples', samples_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        </ul>
    <% end %>

  </nav>
    </div>
  </div>
</header>
